<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944849942160-c3gdv2k39li03kvscoc7bkq4e6nphj9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944849942160-c3gdv2k39li03kvscoc7bkq4e6nphj9l</string>
	<key>API_KEY</key>
	<string>AIzaSyCHDncZQRimgl63xGX9-LvEC7BpA5j1Wqw</string>
	<key>GCM_SENDER_ID</key>
	<string>944849942160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterfirebase</string>
	<key>PROJECT_ID</key>
	<string>flutterprojectfinal</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterprojectfinal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944849942160:ios:25a6b94392d5c664404a15</string>
	<key>DATABASE_URL</key>
	<string>https://flutterprojectfinal.firebaseio.com</string>
</dict>
</plist>